
<h1> {{variable}} </h1>
<!-- <div class="container-main mat-app-background">
  <div class="home-container">
    <h2 class="display-2">I am The Host</h2>
    <img src="../../assets/images/undraw_Duplicate_re_d39g.svg" alt="" />
    <button mat-raised-button color="primary" class="start-button">
      <mat-icon>video_call</mat-icon>
      &nbsp; Create a New Meeting
    </button>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="home-container">
    <h2 class="display-2">They are Waiting for me</h2>
    <img src="../../assets/images/undraw_Experts_re_i40h.svg" alt="" />
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Meeting ID</mat-label>
        <mat-icon class="prefix" matPrefix>groups</mat-icon>
        <input type="tel" matInput placeholder="AJHFGgghatTcHGTg" />
      </mat-form-field>
    </form>
  </div>
</div> -->
